/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text: black;
	--color-text2: white;

	--color-background: #FFFF;
	--color-background2: #faf8ed;
	--color-background3: #8B8462;
	--color-background4: #606e5a;
	--color-background5: #E0E5D7;

	--font-main: "Gill Sans MT",sans-serif;
	--font-headers: 'Courier New', Courier, monospace;

	--font-size-main: 1em;

	--button-background: black;
	--button-text-color: white;
	--button-font-size: 1.2em;
	--button-padding: 0.7em 1em 0.7em 1em;
}





/****************/
/* JOUW STYLING */
/****************/

body {
	font-family: var(--font-main);
}

h1 {
	font-family: var(--font-headers);
	font-size: 2em;
}

h2 {
	font-family: var(--font-headers);
}

/* navigatie melding*/
header div:first-of-type {
	display: grid;
	grid-template-columns: 4.5em 1em 0.5em 1fr;
	background-color: var(--button-background);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
header div:first-of-type img {
	grid-column-start: 2;
	scale: 0.6;
}
header div:first-of-type p {
	grid-column-start: 4;
	font-size: 0.8em;
	color: var(--color-text2);
	font-weight: 300;
}


/* navigatie */
header nav ul:nth-of-type(1) {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	text-align: center;
	align-items: center;
}
header nav ul:nth-of-type(1) li img {
	width: 1.7em;
	height: 1.7em;
}
header nav ul:nth-of-type(1) li:nth-of-type(3) img {
	width: 5em;
	height: 5em;
	margin-right: 1.5em;
	margin-left: 1.5em;
}
header nav ul:nth-of-type(1) li button {
	border: none;
	background-color: var(--color-background);
}

/* hamburgermenu */
header nav ul:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	padding: 2.2em 2em;
	gap: 1em;
	height: 30em;
	width: 100%;
	top: 0;
	overflow-y: auto;
	z-index: 20;
	position: absolute;
	/* visibility: hidden; */
}
header nav ul:nth-of-type(2) li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav ul:nth-of-type(2) li button {
	display: flex;
	border: none;
	justify-content: space-between;
	background-color: transparent;
	width: 100%;
	font-size: 1em;
	align-items: center;
}

header nav ul:nth-of-type(2) li a {
	font-family: var(--font-headers);
	text-decoration: none;
	color: var(--color-text);
	font-size: 1.32em;
}

header nav ul:nth-of-type(2) li img {
	width: 0.5em;
}



/* hamburgermenu bovenkant */
header nav ul:nth-of-type(2) li:first-child a {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;
}
header nav ul:nth-of-type(2) li:first-child img:first-of-type {
	height: 2.5em;
	width: fit-content;
}
header nav ul:nth-of-type(2) li:first-child img:nth-of-type(2) {
	height: 1.2em;
	width: fit-content;
}



/* hamburgermenu onderkant */
footer > ul:last-of-type {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
	background-color: var(--color-background2);
	top: 30em;
	padding-top: 2em;
	padding-bottom: 13em;
	position: absolute;
	width: 100%;
	/* visibility: hidden; */
}
footer > ul:last-of-type a {
	text-decoration: none;
	color: var(--color-text);
}
footer > ul:last-of-type li:last-of-type button {
	display: flex;
	border: none;
	background-color: transparent;
	align-items: center;
	gap: 0.5em;
}
footer > ul:last-of-type li:last-of-type img {
	height: 1em;
}



/* zoekbalk */
header div:nth-of-type(2) {
	display: flex;
	border: solid lightgrey 0.05em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-bottom: 0.8em;
	padding: 0.3em 1em 0.3em 1em;
	gap: 1em;
}
header div:nth-of-type(2) > * {
	border: none;
	background-color: var(--color-background);
}
header div:nth-of-type(2) button {
	scale: 0.8;
}
header div:nth-of-type(2) input {
	font-size: var(--font-size-main);
	width: 100%;
	cursor: text;
}
/* Cursor:
   https://developer.mozilla.org/en-US/docs/Web/CSS/cursor  */


/* wijsheden uit de natuur, herfst bij dille */
header div:last-of-type {
	display: flex;
	flex-direction: column;
	height: 55vh;
	background-color: var(--color-background3);
	padding-top: 3em;
	padding-left: 1.5em;
}
header > img:last-child {
	width: 20.6em;
	position: absolute;
	/* transform: translateY(-11em); */
	transform: translate(1.5em, -11em);
}
/* transform: translate():
https://developer.mozilla.org/en-US/docs/Web/CSS/transform */

header div:last-of-type a {
	background-color: var(--button-background);
	color: var(--button-text-color);
	font-family: var(--font-headers);
	padding: var(--button-padding);
	width: fit-content;
	text-decoration: none;
	font-size: var(--button-font-size);
}
header div:last-of-type p {
	width: fit-content;
	padding: 0;
	font-weight: 600;
}

/************/
/* homepage */
/************/

/* categoriën */
main section:nth-of-type(1) {
	background: var(--color-background2);
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
	padding-top: 3.5em;
	padding-bottom: 3.2em;
}
main section:nth-of-type(1) a {
	background: var(--color-background);
	padding: 1.25em 0.9375em;
	text-decoration: none;
	width: 9.8em;
	text-align: center;
}
main section:nth-of-type(1) a img {
	width: 8em;
}
main section:nth-of-type(1) a h3 {
	font-family: var(--font-headers);
	color: var(--color-text);
	border-bottom: solid var(--color-text) 0.1em;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}
main section:nth-of-type(1) a p {
	color: var(--color-text);
	font-family: var(--font-main);
}
main section:nth-of-type(1) h2 {
	position: absolute;
	visibility: hidden;
}






/* herfst bij dille, koken met krachtige kruiden */
main section:nth-of-type(2) {
	padding-bottom: 20em;
}
main section:nth-of-type(2) div:nth-of-type(1) {
	display: grid;
	grid-template-columns: 0.5em 8fr 1fr 1fr 0.5em;
	grid-template-rows: 1fr 1fr 2em;
	grid-gap: 0.5em;
	background: var(--color-background2);
}
main section:nth-of-type(2) p:first-child {
	font-weight: 800;
	padding: 0;
	grid-column-start: 2;
	align-self: end;
}
main section:nth-of-type(2) h2 {
	grid-column-start: 2;
	grid-row-start: 2;
}
main section:nth-of-type(2) button {
	align-self: end;
	border: none;
	background-color: transparent;
}
main section:nth-of-type(2) button:first-of-type {
	grid-column-start: 3;
	grid-row-start: 2;
	transform: scaleX(-1);
}
main section:nth-of-type(2) button:last-of-type {
	grid-column-start: 4;
	grid-row-start: 2;
}
/* flip an image: 
https://css-tricks.com/snippets/css/flip-an-image/ */



main section:nth-of-type(2) ul {
	display: flex;
	overflow-x: auto;
	background-color: var(--color-background2);
	scroll-behavior: smooth;
	gap: 1em;
}
main section:nth-of-type(2) ul::-webkit-scrollbar {
	display: none;
}


main section:nth-of-type(2) ul li {
	background-color: var(--color-background);
	/* transform: translateX(-4em); */
	list-style-type: none;
	position: relative;
	z-index: 2;
}
main section:nth-of-type(2) ul a {
	text-decoration: none;
}
main section:nth-of-type(2) ul img {
	width: 10em;
}
main section:nth-of-type(2) ul a article h3 {
	font-family: var(--font-main);
	font-size: 0.8em;
	font-weight: 500;
	color: var(--color-text);
	padding: 1em 1em 1em 1em;
}
main section:nth-of-type(2) ul a article p {
	font-size: 0.8em;
	font-weight: 800;
	color: var(--color-text);
	padding: 1em;
}

main section:nth-of-type(2) img:nth-child(3) {
	position: absolute;
	width: 100%;
	transform: translateY(-10em);
	z-index: 1;
}



/* Tips & inspiratie */
main section:nth-of-type(3) {
	background: var(--color-background2);
	padding-top: 4em;
}
main section:nth-of-type(3) div {
	display: grid;
	grid-template-columns: 1em 1fr 7em 1em;
	grid-template-rows: 3fr 1fr;
}
main section:nth-of-type(3) h2 {
	font-size: 2em;
	grid-column-start: 2;
	grid-column-end: 3;
}
main section:nth-of-type(3) a {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	justify-self: end;
	color: var(--color-text);
}



main section:nth-of-type(3) {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2em;
}
main section:nth-of-type(3) article {
	background: var(--color-background);
}
main section:nth-of-type(3) article > * {
	width: 85vw;
}
main section:nth-of-type(3) article > h3, main section:nth-of-type(3) article > h4, main section:nth-of-type(3) article > p {
	padding-left: 1em;
	padding-right: 1em;
}
main section:nth-of-type(3) article h3 {
	padding-top: 1em;
}
main section:nth-of-type(3) article h4 {
	font-family: var(--font-headers);
	font-size: 1.4em;
	font-weight: 500;
}
main section:nth-of-type(3) article p {
	padding-top: 0.8em;
	padding-bottom: 2em;
}
main section:nth-of-type(3) article:last-of-type {
	margin-bottom: 7em;
}





/* instagram */
main section:nth-of-type(4) {
	background: var(--color-background);
	padding: 5em 2em;
}
main section:nth-of-type(4) p {
	font-family: var(--font-headers);
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 1em;
}

main section:nth-of-type(4) ul:nth-of-type(1) {
	display: flex;
	overflow-x: auto;
	gap: 5em;
	list-style-type: none;
	scroll-behavior: smooth;
}
main section:nth-of-type(4) ul:nth-of-type(1)::-webkit-scrollbar {
	display: none;
}

main section:nth-of-type(4) ul:nth-of-type(1) li img {
	width: 16em;
	box-shadow: 0 0 0.8em lightgrey;
}
/* box-shadow:
https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow  */
main section:nth-of-type(4) ul:nth-of-type(1) li:first-of-type img {
	margin-left: 1.5em;
}
main section:nth-of-type(4) ul:nth-of-type(1) li:last-of-type img {
	margin-right: 1.5em;
}

/* arrow buttons */
main section:nth-of-type(4) ul:last-of-type {
	display: flex;
	width: 100%;
	list-style-type: none;
	justify-content: center;
	gap: 1em;
}
main section:nth-of-type(4) ul:last-of-type button {
	border: none;
	background-color: transparent;
}
main section:nth-of-type(4) ul:last-of-type button img {
	width: 3em;
	height: 3em;
}
main section:nth-of-type(4) ul:last-of-type li:first-of-type {
	transform: scaleX(-1);
}






/* footer */
/* wordt member van dille & kamille en ontvang */
footer article {
	display: grid;
	grid-template-columns: 1.5em 1fr 1.5em;
	grid-template-rows: 12em 1fr 1fr 2em 1fr 1.5em 3.5em 2.5em;
	background-color: var(--color-background5);
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-bottom: 5em;
}
footer article img {
	grid-area: 1 / 1 / 2 / -1;
	width: 20.45em;
}
footer article h2 {
	grid-area: 3 / 2 / 4 / 3;
}
footer article ul {
	grid-area: 5 / 2 / 6 / 3;
	margin-left: 0.5em;
}

footer article ul li {
	list-style-type: "- ";
}
/* list-style-type:
https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type */

footer article button {
	background-color: var(--button-background);
    color: var(--button-text-color);
    font-family: var(--font-headers);
    padding: var(--button-padding);
    width: fit-content;
    text-decoration: none;
    font-size: var(--button-font-size);
	grid-area: 7 / 2 / 8 / 3;
}





/* altijd in de buurt */
footer section:first-of-type {
	background-color: var(--color-background4);
	color: var(--color-text2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer section:first-of-type img {
	width: 100%;
}
footer section:first-of-type div {
	background-color: var(--button-background);
	width: fit-content;
	color: var(--button-text-color);
	padding: 2em;
	font-family: var(--font-headers);
	transform: translateY(-3.5em);
}
footer section:first-of-type div h3 {
	font-size: var(--button-font-size);
	font-weight: 400;
	margin-bottom: 1em;
}
footer section:first-of-type div a {
	color: var(--button-text-color);
	font-family: var(--font-main);
}



/* klantenservice */
footer section:nth-of-type(2) {
	background-color: var(--color-background4);
	display: grid;
	color: var(--color-text2);
	gap: 2em;
	padding: 1em 0em 6em 1em;
}
footer section:nth-of-type(2) div {
	display: flex;
	gap: 1em;
	align-items: center;
}
footer section:nth-of-type(2) div img {
	height: 1.6em;
}
footer section:nth-of-type(2) a {
	color: var(--color-text2);
}



/* gegevens */
footer section:nth-of-type(3) {
	margin: 4em 1em 3em 1em;
	display: flex;
	flex-direction: column;
	gap: 2em;
}
footer section:nth-of-type(3) h2 {
	position: absolute;
	visibility: hidden;
}

/* logo & beoordeling */
footer section:nth-of-type(3) div {
	display: flex;
	gap: 2.5em;
	align-items: center;
}
footer section:nth-of-type(3) img {
	width: 7em;
}

/* p lichtgrijs */
footer section:nth-of-type(3) > p {
	color: lightgrey;
}

/* service, over ons & inspiratie */
footer section:nth-of-type(3) ul:first-of-type li {
	list-style-type: none;
}
footer section:nth-of-type(3) ul:first-of-type button {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	border: none;
	width: 100%;
	font-family: var(--font-headers);
	font-size: var(--button-font-size);
	text-align: start;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: solid lightgrey 0.08em;
}
footer section:nth-of-type(3) ul:first-of-type img {
	align-items: end;
	justify-content: end;
	float: inline-end;
	width: 5%;
}

footer section:nth-of-type(3) ul:first-of-type li ul li {
	margin-top: 1em;
	font-family: var(--font-headers);
}
footer section:nth-of-type(3) ul:first-of-type li ul li:last-of-type {
	padding-bottom: 1em;
	border-bottom: solid lightgrey 0.08em;
}
footer section:nth-of-type(3) ul:first-of-type li ul li a {
	color: var(--color-text);
	text-decoration: none;
}


/* language dropdown */
footer section:nth-of-type(3) > button {
	display: flex;
	border: none;
	padding: 1em;
	align-items: center;
}
footer section:nth-of-type(3) > button img {
	width: 1.5em;
}
/* footer section:nth-of-type(3) > button::before {
	background: rgba(0,0,0,.5);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
} */

footer section:nth-of-type(3) > button img:first-of-type {
	margin-right: 1em;
}
footer section:nth-of-type(3) > button p {
	font-size: 1.3em;
}
footer section:nth-of-type(3) > button img:last-of-type {
	margin-left: auto;
}


/* language dropdown ul */
footer section:nth-of-type(3) ul:nth-of-type(2) {
	list-style-type: none;
	background-color: var(--color-background);
	padding: 1.5em;
	width: 21.4em;
	flex-direction: column;
	box-shadow: 0 0.5em 0.85em lightgrey;
	transform: translateY(-2em);
}

footer section:nth-of-type(3) ul:nth-of-type(2) li button {
	background-color: transparent;
	border: none;
	display: flex;
	gap: 1em;
	align-items: center;
	margin-bottom: 0.5em;
	width: 100%;
}


footer section:nth-of-type(3) ul:nth-of-type(2) li img {
	height: 1em;
	width: fit-content;
}
footer section:nth-of-type(3) ul:nth-of-type(2) li img:last-child {
	margin-left: auto;
	height: 0.5em;
}


/* social media icons */
footer section:nth-of-type(3) ul:nth-of-type(3) {
	display: flex;
	list-style-type: none;
	gap: 1em;
}
footer section:nth-of-type(3) ul:nth-of-type(3) li img {
	height: 1.5em;
	width: fit-content;
}
/* fit-content:
https://developer.mozilla.org/en-US/docs/Web/CSS/fit-content  */

/* ul */
footer section:nth-of-type(3) ul:nth-of-type(4) {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	margin-top: 1em;
	margin-bottom: 4em;
}
footer section:nth-of-type(3) ul:nth-of-type(4) li a {
	color: var(--color-text);
	text-decoration: none;
}






/* certificaten */
footer section:nth-of-type(3) ul:nth-of-type(5) {
	display: flex;
	list-style-type: none;
	justify-content: center;
	gap: 1.5em;

	padding-top: 1em;
	border-top: solid lightgrey 0.1em;
	align-items: center;
}
footer section:nth-of-type(3) ul:nth-of-type(5) li img {
	height: 2em;
	width: fit-content;
}
footer section:nth-of-type(3) ul:nth-of-type(5) li:nth-of-type(1) img{
	height: 5em;

}

footer section:last-of-type span {
	display: flex;
	justify-content: center;
}



/****************/
/* theepot page */
/****************/

.breadcrumbs ul {
	display: flex;
	width: 100%;
	height: 1em;

	overflow-x: scroll;
}
.breadcrumbs ul li a {
	height: 2em;
}

/* theepot afbeeldingen slider */
section:nth-child(1) ul {
	display: flex;
	list-style-type: none;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	background-color: var(--color-background);
	height: 17.5em;
	align-items: center;
}
section:nth-child(1) ul::-webkit-scrollbar {
	display: none;
}

section:nth-child(1) ul img {
	width: 100vw;
	padding: 1em 4em;
}


/* section:nth-child(1) div {
	display: flex;
} */

section:nth-child(1) button {
	border: none;
	background-color: transparent;
}
section:nth-child(1) button img {
	width: 2em;
}





/****************/
/* styling */
/****************/

/* hidden */
.hidden {
    display: none;
}
.hiddenVisibility {
	visibility: hidden;
}